<script type="ld-conf">
  {
    "name": "article-layout-footer",
    "label": "Article layout footer"
  }
</script>

<div class="wrapper wrapper--default">
  <nav class="page-foot-nav">
    <ul class="footer-links footer-links--left-aligned">
      <li>© 2020 Livingdocs</li>
      <li><a href="mailto:contact@livingdocs.io">Contact us</a></li>
    </ul>
    <ul class="footer-links footer-links--right-aligned">
      <li>This blog is built with <a href="https://www.livingdocs.io">Livingdocs</a>.</li>
    </ul>
  </nav>
</div>
