<script type="ld-conf">
  {
    "name": "page-layout-footer",
    "label": "Page layout footer"
  }
</script>

<div class="wrapper wrapper--default">
  <nav class="page-foot-nav">
    <ul class="footer-links footer-links--left-aligned">
      <li>© 2018 Living Stories</li>
      <li><a href="mailto:contact@livingdocs.io">Contact us</a></li>
      <li><a href="https://www.livingdocs.io">Work With us</a></li>
      <li><a href="https://github.com/livingdocsIO/blog-example">Github</a></li>
    </ul>
    <ul class="footer-links footer-links--right-aligned">
      <li>This is an open-source demo blog built with Livingdocs.</li>
    </ul>
  </nav>
</div>
