<script type="ld-conf">
  {
    "name": "teaser-card-featured-resolved",
    "label": "Featured Teaser"
  }
</script>

<div class="teaser-feature-card">
  <a class="teaser-feature-card__image" style="background-image: url(https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)" href=""></a>
  <div class="teaser-feature-card__body">
    <span class="teaser-feature-card__flag">Technology</span>
    <h2 class="teaser-feature-card__title"><a href="">Craig Newmark’s New Hit List</a></h2>
    <p class="teaser-feature-card__text">The internet mogul was vilified for destroying journalism. Now he’s setting out to save it.</p>
    <ul class="teaser-feature-card__byline">
      <li><a href="">Andrew Zaleski</a></li>
      <li>15 minutes ago</li>
    </ul>
  </div>
</div>
