<script type="ld-conf">
  {
    "name": "teaser-card-featured-small-template",
    "label": "Teaser Card: Small"
  }
</script>

<div class="teaser-feature-card teaser-feature-card--small">
  <a class="teaser-feature-card__image" doc-link="link" doc-image="image"></a>
  <div class="teaser-feature-card__body">
    <span class="teaser-feature-card__flag" doc-editable="flag" doc-optional="true"></span>
    <h2 class="teaser-feature-card__title"><a href="" doc-link="link2" doc-editable="title"></a></h2>
    <ul class="teaser-feature-card__byline">
      <li><a doc-link="authorLink" doc-editable="author"></a></li>
      <li doc-editable="date"></li>
    </ul>
  </div>
</div>
