// ------------------------------------
// COLORS
// ------------------------------------

$black:         #000;
$white:         #fff;

$jungle-green:  #29b96f;
$martinique:    #362C45;

$corn:          #fbd200;
$seance:        #68268C;
$alabaster:     #f7f7f7;


// Semantic colors
$text-color:         rgba($black, .90);
$secondary-color:    rgba($black, .54);
$icon-color:         rgba($black, .65);
$hint-text-color:    rgba($black, .26);
$divider-color:      rgba($black, .1);


$link-color:         $seance;

$teaser-flag-color:  lighten($martinique, 20);
$flag-color:         lighten($martinique, 20);
$lead:               lighten($martinique, 20);
$quote:              lighten($martinique, 20);
$event:              lighten($martinique, 20);
$label-color:        lighten($martinique, 20);
