// -----------------------------------------------------------------------------
// ARTICLE
// -----------------------------------------------------------------------------

// Styles for the following components:
// -> source/components/containers/article-container.html

.article-content__header {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.article-content__main {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.article-content__footer {
  // display: none;
}


// Media Queries
@media (max-width: 640px) {

  .article-content__header,
  .article-content__main {
    // width: 100%;
  }
}
