// -----------------------------------------------------------------------------
// BULLET LIST
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/lists/bullet-list.html
// -> source/components/lists/bullet-list-item.html

.bullet-list {
  margin-left: 0;
  list-style: none;

  li {
    position: relative;
    margin-bottom: halve($base-spacing-unit);
  }

  li::after {
    top: 0;
    left: 0;
    position: absolute;

    margin-left: -20px;

    content: "—";
  }
}


// Media queries
@media (max-width: $mq-medium-article) {

  .bullet-list li {
    padding-left: 20px;

    &::after {
      margin-left: 0;
    }
  }

}
