// ------------------------------------
// HEAD COMPONENT
// ------------------------------------

// Styles for the following component:
// -> source/components/headers/head.html

.head {
  // width: 640px;
  // width: 80vw;
  padding-top: 12vh;
  padding-bottom: 7vh;
  margin-left: calc(50% - 35vw);
  margin-right: calc(50% - 35vw);
  margin-bottom: double($base-spacing-unit);
}

.head__flag {
  padding: 2px 8px;
  display: inline-block;

  font-weight: 700;
  color: $text-color;
  text-transform: uppercase;
  @include font-size($micro-size, false);

  background-color: $corn;

  > a {
    text-decoration: none;
  }
}

.head__title {
  margin-bottom: halve($base-spacing-unit);

  font-weight: bold;
  @include font-size($beta-size, false);
}

.head__lead {
  @include font-size($zeta-size, false);
}

.head__meta {
  position: relative;
  color: $secondary-color;
}

.head__meta {
  display: block;
}

// Media Queries

@media (max-width: $mq-medium-article) {
  .head {
    margin-left: 0;
    margin-right: 0;
  }

  .head__title {
    @include font-size($gamma-size, false);
  }

  .head__lead {
    @include font-size(20px, false);
  }

}

@media (max-width: $mq-small) {
  .head {
    padding-bottom: 0;
    margin-bottom: $base-spacing-unit;
    padding-top: halve($base-spacing-unit);
  }

  .head__title {
    @include font-size($delta-size, false);
  }
  .head__lead {
    @include font-size(18px, false);
  }
}

@media (max-width: $mq-extra-small) {
  .head__title {
    @include font-size($epsilon-size, false);
  }
  .head__lead {
    @include font-size($base-font-size, false);
  }
}
