// ------------------------------------
// HEAD WIDE COMPONENT
// ------------------------------------

// Styles for the following component:
// -> source/components/headers/head-wide.html

.head-wide {
  margin-left: calc(50% - 40vw);
  margin-right: calc(50% - 40vw);
  margin-bottom: double($base-spacing-unit);
}

.head-wide__container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.head-wide__img {
  position: relative;

  flex: 1 0 auto;

  width: 100%;
  height: 70vh;
  min-height: auto;
  margin-bottom: $base-spacing-unit;

  background-size: cover;
  background-position: center center;
}

.head-wide__text {
  flex: 1 1 auto;
  margin: 0 30px;
  max-width: 640px;
}

.head-wide__caption {
  position: absolute;
  left: halve($base-spacing-unit);
  bottom: halve($base-spacing-unit);

  padding: 0 14px;

  color: $white;
  letter-spacing: .08em;
  @include font-size($micro-size);

  background-color: $text-color;
}

.head-wide__flag {
  display: inline-block;

  color: $flag-color;
  letter-spacing: .05em;
  font-weight: $font-bold;
  text-transform: uppercase;
  @include font-size($micro-size, false);

  > a {
    text-decoration: none;
  }
}

.head-wide__title {
  margin-bottom: halve($base-spacing-unit);

  font-weight: $font-bold;
  @include font-size($delta-size, false);
}

.head-wide__lead {
  @include font-size($zeta-size, false);
}

.head-wide__meta {
  position: relative;
  color: $secondary-color;
}

.head-wide__meta {
  display: block;
}

// Media queries
@media (max-width: 1150px) {
  .head-wide {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw)
  }

  .head-wide__img {
    width: 100%;
    height: 50vh;
    min-height: auto;
    margin-bottom: $base-spacing-unit;
  }
}

@media (max-width: $mq-medium-article) {
  .head-wide__title {
    // @include font-size($gamma-size, false);
  }
}

@media (max-width: 660px) {
}

@media (max-width: $mq-small) {

  .head-wide__title {
    @include font-size($delta-size, false);
  }

}

@media (max-width: $mq-extra-small) {
  .head-wide__img {
    height: 35vh;
  }

  .head-wide__title {
    @include font-size($epsilon-size, false);
  }
}
