// ------------------------------------
// IMAGE COMPONENT
// ------------------------------------

// Styles for the following component:
// -> source/components/images/image.html

.image {
  position: relative;
  margin-bottom: halve($base-spacing-unit);
}

.image > img {
  margin-bottom: quarter($base-spacing-unit);
}

.image__caption {
  text-align: center;
  letter-spacing: .08em;
  color: $secondary-color;
  @include font-size($micro-size); // 14px
}


// Modifier: Wide image
.image--wide {
  margin-left: calc(50% - 35vw);
  margin-right: calc(50% - 35vw);
}


// Media Queries
@media (max-width: $mq-medium-article) {

  .image--wide {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);  }

}

// Hide pixel for propublica
img[src*="pixel.propublica.org"] {
  display: none;
}
