// -----------------------------------------------------------------------------
// SEPERATOR COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/text/seperator.html

.separator {
  clear: both;
  border: none;
  height: 40px;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;

  &:before {
    content: '';
    display: block;

    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../assets/images/bird.svg");
  }
}
