<script type="ld-conf">
  {
    "label": "Wide header",
    "allowedParents": ["article-container"],
    "description": "Header and author line",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_header_full.svg"
  }
</script>

<div class="head-wide">
  <div class="head-wide__container">
    <div class="head-wide__img" doc-image="image">
      <span class="head-wide__caption" doc-editable="caption"></span>
    </div>

    <div class="head-wide__text">
      <span class="head-wide__flag" doc-editable="flag" doc-optional="true">Flag</span>
      <h1 class="head-wide__title" doc-editable="title">Title</h1>
      <div class="head-wide__meta">
        <span doc-editable="author">Author</span><span>,</span>
        <span doc-editable="date">Date</span>
      </div>
    </div>
  </div>

</div>
